@using System.ComponentModel

<div id="mawb" class="col-md-12 app-inner-layout__content">
    <div class="col-md-8 pb-5 pl-5 pr-5 pt-3 card">
        <h4>MAWB</h4>
        <div class="p-3">
            Methods for MAWB operations
        </div>
        <div>
            <table class="responsive table table-light table-striped small">
                <thead>
                    <tr>
                        <th class=" col-md-3">Request Body Schema</th>
                        <th class=" col-md-3">Data Type</th>
                        <th class=" col-md-6">Descriptions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in ViewBag.mawb)
                    {
                        <tr class="line-height-1">
                            <td class="align-top">
                                @p.name
                            </td>
                            <td class="align-top">
                                @if (p.type.IndexOf("Dto") > -1)
                                {
                                    <p class="m-1">Json array of @p.name request parameters</p>
                                }
                                else
                                {
                                    <p class="m-1">@p.type</p>
                                }
                            </td>
                            <td class="align-top">
                                @if (p.isOptional)
                                {
                                    <div class="m-1"><b><i>(Optional)</i></b></div>
                                }
                                <div class="m-1">@p.description</div>
                                @if (p.values != null)
                                {
                                    <div class="m-1 font-italic bg-dark-gray">
                                        Enum:
                                        @foreach (var v in p.values)
                                        {
                                            <span class="badge badge-dark">"@v"</span>
                                        }
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-2 col-md-4 text-light">
        <div id="mawbcreate" class="bg-dark p-3 method">
            <h6>Create New MAWB</h6>
            <div><button class="badge badge-light">PAYLOAD</button></div>
            <div class="dropdown-divider"></div>
            <div>
                <button class="badge badge-info">POST</button><span class="float-right font-weight-bold">/api/mawb/create</span>
            </div>
            <div>
                <span>Content Type: </span><span class="float-right font-weight-bold">application/json</span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbCreateReq" class="btn btn-primary">
                    Sample Request
                </button>
                <div class="collapse" id="mawbCreateReq">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "BookingNumber": "4444444",
    "BillNumber": "123213213",
    "MAWBType": null,
    "TransportType": "AIR",
    "ContainerMode": "string",
    "OriginId": null,
    "originHeader": null,
    "DestinationId": null,
    "destinationHeader": null,
    "CarrierId": null,
    "carrierHeader": null,
    "CreditorId": null,
    "creditorHeader": null
}
                </pre>
                    </div>
                </div>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Success Response</b> - <span>200 <i>(indicates that the request was processed successfully.)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbCreateRes" class="btn btn-secondary">
                    Sample Response
                </button>
                <div class="collapse" id="mawbCreateRes">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "success": true,
    "response": 200,
    "referenceNumber": null,
    "responseDescription": "CAUSTSYD0000000002"
}
                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div id="mawbupdate" class="bg-dark p-3 method">
            <h6>Update Existing MAWB</h6>
            <div><button class="badge badge-light">PAYLOAD</button></div>
            <div class="dropdown-divider"></div>
            <div>
                <button class="badge badge-info">PUT</button><span class="float-right font-weight-bold">/api/mawb/update</span>
            </div>
            <div>
                <span>Content Type: </span><span class="float-right font-weight-bold">application/json</span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbUpdateReq" class="btn btn-primary">
                    Sample Request
                </button>
                <div class="collapse" id="mawbUpdateReq">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "MasterBillNumber": "CAUSTSYD0000000002",
    "BookingNumber": "4444444",
    "BillNumber": "44444444",
    "MAWBType": null,
    "TransportType": "AIR",
    "ContainerMode": "string",
    "OriginId": null,
    "originHeader": null,
    "DestinationId": null,
    "destinationHeader": null,
    "CarrierId": null,
    "carrierHeader": null,
    "CreditorId": null,
    "creditorHeader": null
}
                </pre>
                    </div>
                </div>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Success Response</b> - <span>200 <i>(indicates that the request was processed successfully.)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbUpdateRes" class="btn btn-secondary">
                    Sample Response
                </button>
                <div class="collapse" id="mawbUpdateRes">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "success": true,
    "response": 200,
    "referenceNumber": null,
    "responseDescription": "MAWB #CAUSTSYD0000000002 successfully updated."
}
                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div id="mawbgetall" class="bg-dark p-3 method">
            <h6>Get All MAWB</h6>
            <div class="dropdown-divider"></div>
            <div>
                <button class="badge badge-pill badge-warning">GET</button><span class="float-right font-weight-bold">/api/mawb</span>
            </div>
            <div>
                <span>Content Type: </span><span class="float-right font-weight-bold">application/json</span>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Success Response</b> - <span>200 <i>(indicates that the request was processed successfully.)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Response: </b>
                <p><i>List of all MAWB records in Json format.</i></p>
            </div>
        </div>
        <div id="mawbsearch" class="bg-dark p-3 method">
            <h6>Search MAWB</h6>
            <div class="dropdown-divider"></div>
            <div>
                <button class="badge badge-pill badge-warning">GET</button><span class="float-right font-weight-bold">/api/mawb/getbyreference?referenceNumber={mawb number}</span>
            </div>
            <div>
                <span>Content Type: </span><span class="float-right font-weight-bold">application/json</span>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Parameter Request: </b>
                <span>referenceNumber <i>(MAWB reference number)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Success Response</b> - <span>200 <i>(indicates that the request was processed successfully.)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbSearchRes" class="btn btn-secondary">
                    Sample Response
                </button>
                <div class="collapse" id="mawbSearchRes">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "isSuccess": true,
    "result": {
        "MasterBillNumber": "CAUSTSYD0000000001",
        "BookingNumber": "45454",
        "BillNumber": "45454",
        "Status": "OPEN",
        "MAWBType": null,
        "TransportType": "AIR",
        "ContainerMode": "string",
        "tbl_client_header_origin_id": null,
        "originAgentCode": null,
        "originAgent": null,
        "tbl_client_header_destination_id": 2,
        "destinationAgentCode": null,
        "destinationAgent": null,
        "tbl_client_header_carrier_id": null,
        "carrierAgentCode": null,
        "carrierAgent": null,
        "tbl_client_header_creditor_id": null,
        "creditorAgentCode": null,
        "creditorAgent": null,
        "VoyageId": 1,
        "VoyageNumber": "VAUSTSYD0000000001",
        "Voyage": null,
        "hawbs": [],
        "containers": []
    },
    "id": 0,
    "referenceNumber": null,
    "displayMessage": "",
    "errorMessages": null
}
                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div id="mawblinktovoyage" class="bg-dark p-3 method">
            <h6>Link To Voyage</h6>
            <div class="dropdown-divider"></div>
            <div>
                <button class="badge badge-pill badge-info">POST</button><span class="float-right font-weight-bold">/api/mawb/linktovoyage</span>
            </div>
            <div>
                <span>Content Type: </span><span class="float-right font-weight-bold">application/json</span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbLinkToVoyageReq" class="btn btn-primary">
                    Sample Request
                </button>
                <div class="collapse" id="mawbLinkToVoyageReq">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
  "shipperId": "AUSTSYD",
  "parentReference": "VAUSTSYD00000001",  
  "isCreateParent": false,
  "voyage" : {}, 
  "referencesToLink": [
    "MAUSTSYD00000002"  
  ]
}
                </pre>
                    </div>
                    <div>
                        <p>shipperId - Shipper Id of mawb to be linked for cross checking purpose</p>
                        <p>parentReference - voyage reference number where specified MAWB in referencesToLink will be linked to</p>
                        <p>voyage (optional) - Specify a voyage body request here if isCreateParent is set to TRUE</p>
                        <p>isCreateParent - specify if new voyage will be created and linked to specified MAWB in referencesToLink</p>
                        <p>referencesToLink - Json array of string consisting of MAWB reference numbers to be linked to provided Voyage reference number</p>
                    </div>
                </div>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Success Response</b> - <span>200 <i>(indicates that the request was processed successfully.)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbLinkToVoyageRes" class="btn btn-secondary">
                    Sample Response
                </button>
                <div class="collapse" id="mawbLinkToVoyageRes">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "isSuccess": true,
    "result": [],
    "id": 0,
    "referenceNumber": "VAUSTSYD0000000001",
    "displayMessage": "MAWB successfully updated with Voyage # VAUSTSYD0000000001",
    "errorMessages": null
}
                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div id="mawbgetbyvoyage" class="bg-dark p-3 method">
            <h6>Search By Voyage</h6>
            <div class="dropdown-divider"></div>
            <div>
                <button class="badge badge-pill badge-warning">GET</button><span class="float-right font-weight-bold">/api/mawb/getbyvoyage?referenceNumber={voyage number}</span>
            </div>
            <div>
                <span>Content Type: </span><span class="float-right font-weight-bold">application/json</span>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Parameter Request: </b>
                <span>referenceNumber <i>(Voyage reference number)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <b>Success Response</b> - <span>200 <i>(indicates that the request was processed successfully.)</i></span>
            </div>
            <div class="m-3"></div>
            <div>
                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#mawbSearchByVoyageRes" class="btn btn-secondary">
                    Sample Response
                </button>
                <div class="collapse" id="mawbSearchByVoyageRes">
                    <div class="card card-body bg-dark">
                        <pre class="text-light font-italic">
{
    "isSuccess": true,
    "result": [
        {
            "MasterBillNumber": "CAUSTSYD0000000001",
            "BookingNumber": "45454",
            "BillNumber": "45454",
            "Status": "OPEN",
            "MAWBType": null,
            "TransportType": "AIR",
            "ContainerMode": "string",
            "tbl_client_header_origin_id": null,
            "originAgentCode": null,
            "originAgent": null,
            "tbl_client_header_destination_id": 2,
            "destinationAgentCode": null,
            "destinationAgent": null,
            "tbl_client_header_carrier_id": null,
            "carrierAgentCode": null,
            "carrierAgent": null,
            "tbl_client_header_creditor_id": null,
            "creditorAgentCode": null,
            "creditorAgent": null,
            "VoyageId": 1,
            "VoyageNumber": "VAUSTSYD0000000001",
            "Voyage": null,
            "hawbs": [],
            "containers": []
        },
        {
            "MasterBillNumber": "CAUSTSYD0000000002",
            "BookingNumber": "4444444",
            "BillNumber": "44444444",
            "Status": "OPEN",
            "MAWBType": null,
            "TransportType": "AIR",
            "ContainerMode": "string",
            "tbl_client_header_origin_id": null,
            "originAgentCode": null,
            "originAgent": null,
            "tbl_client_header_destination_id": null,
            "destinationAgentCode": null,
            "destinationAgent": null,
            "tbl_client_header_carrier_id": null,
            "carrierAgentCode": null,
            "carrierAgent": null,
            "tbl_client_header_creditor_id": null,
            "creditorAgentCode": null,
            "creditorAgent": null,
            "VoyageId": 1,
            "VoyageNumber": "VAUSTSYD0000000001",
            "Voyage": null,
            "hawbs": [],
            "containers": []
        }
    ],
    "id": 0,
    "referenceNumber": null,
    "displayMessage": "",
    "errorMessages": null
}
                </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>